* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Rubik", sans-serif;
}
main {
  min-height: 100vh;
  position: relative;
}
.bg-image {
  width: 100%;
}
.bg-image img {
  width: 100%;
  height: 35vh;
}
#map {
  height: 65vh;
  transform: translateY(-4px);
}
.container {
  top: 0;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin-top: 20px;
}
.heading {
  font-size: 22px;
  color: #fff;
  font-weight: 500;
}

.searchbar {
  display: flex;
  align-items: center;
}
input[type="search"] {
  width: 350px;
  padding: 11px 0px 10px 14px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  /* overflow: hidden; */
}
input[type="search"]::placeholder {
  color: hsl(0, 0%, 59%);
  font-size: 12px;
  font-weight: 500;
}
input[type="search"]:focus {
  outline: none;
  border-color: transparent;
  box-shadow: none;
}
.searchbar img {
  background-color: black;
  padding: 14px;
  height: 37px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  transform: translateX(-34px);
  cursor: pointer;
}
.searchbar img:hover {
  background-color: hsl(0, 0%, 32%);
  transition: 0.2s;
}
.output-container {
  display: flex;
  flex-direction: row;
  width: 900px;
  margin-top: 10px;
  background-color: #ffffff;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.label {
  display: block;
  font-size: 8px;
  font-weight: 600;
  color: hsl(0, 0%, 59%);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.value {
  color: hsl(0, 0%, 17%);
  font-weight: 500;
  word-wrap: break-word;
  font-size: 18px;
}
.ip-address,
.location,
.timezone,
.isp {
  flex: 1;
  padding-right: 30px;
}
.ip-address,
.location,
.timezone {
  border-right: 0.1px solid hsl(0, 0%, 80%);
}
.location,
.timezone,
.isp {
  padding-left: 30px;
}
@media(max-width:900px){
  .output-container{
    width: 780px;
  }
  .label{
    font-size: 8px
  } 
  .value{
    font-size: 16px;
  } 
}
@media(max-width:780px){
  .output-container{
    width: 600px;
    padding: 20px;
  }
  .value{
    font-size: 15px;
  } 

}
@media(max-width:590px){
  .output-container{
    width: 500px;
    padding: 16px;
  }
  .location,
.timezone,
.isp {
  padding-left: 25px;
}
.ip-address,
.location,
.timezone,
.isp {
  padding-right: 25px;
}
}
@media(max-width:590px){
  .output-container {
    flex-direction: column;
    padding:20px 0px;
    width: 380px;
    align-items: center;
    gap: 10px;
  }
  .ip-address,
  .location,
  .timezone {
    border: none
  }
  .ip-address,
.location,
.timezone,
.isp {
  padding-right: 0px;
}
.location,
.timezone,
.isp {
  padding-left: 0px;
}
  .output {
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  
  input[type="search"] {
    width: 380px;
    transform: translateX(19px);
  }
  .searchbar img{
    transform: translateX(-15px);
  }
  .container{
    gap: 36px;
  }
  .value{
    font-size: 16px;
  }
}
